body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#orders table {
    border-collapse: collapse;
    font-family:  "Trebuchet MS",serif;
    font-size: 16px;
    margin: 0 auto;
}

#orders table td {
    padding: 5px 10px;
    cursor: pointer;
}

#orders table td.date
{
    color: #cccccc;
}

#orders table td.phone
{
    color: #33cc66;
}

#orders table td.dishname
{
    color: #ff9933;
}

#orders table tr.thead:hover {
    background-color: #fff;
}

#orders table td.editableSelect, table td.editable
{
    /*background-color: #eef;*/
}

#orders table td.editable  {
    cursor: text;
}

#orders table tr:hover {

    background-color: #eee;
}

a {
    color: #eb2027;
}

.ordersWrapper {
    padding: 20px 50px 50px 50px;
}

.adminLinksPanel {
    padding-bottom: 20px;
}

#buttons{
    display: none;
    padding: 10px;

    width: 100px;
    margin: 0 auto;

}

#newOrder
{
    padding-top: 30px;
    display: none;
    width: 600px;
    margin: 0 auto;
}

#newOrder div.block
{
    float: left;
}

#newOrderBtn{
    color: #fff;
    background-color: #99cc33;
    width: 150px;
    margin: 10px auto;
    padding: 2px 5px;
    cursor: pointer;
}

.btnOk, .btnCancel
{
    width: 36px;
    height: 35px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btnOk
{
    background: url("btn-ok.png");
}

.btnCancel
{
    background: url("btn-cancel.png");
}

input.order_checkboxes
{
    cursor: pointer;
}

#sendEmailPanel
{
    padding: 20px;
}

#sendEmailButtons
{
    padding: 20px;
}

#sendEmailPanel {

    display: none;
    padding: 10px;

    width: 400px;
    margin: 20px auto 0 auto;

}