body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}
table
{
    border-collapse: collapse;
}

table td
{
    border: 1px dashed #ccc;
    padding: 5px 10px;
}

table th
{
    padding: 0 10px;
}

table tr.thead:hover
{
    background-color: #fff;
}

table tr:hover
{
    background-color: #eee;
}

a {
    color: #eb2027;
}




#buttons
{
    display: none;
}