body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px dashed #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

table th {
    padding: 0 10px;
}

table tr.thead:hover {
    background-color: #fff;
}

table td.editableSelect, table td.editable
{
    background-color: #eef;
}

table td.editable  {
    cursor: text;
}

table tr:hover {

    background-color: #eee;
}

a {
    color: #eb2027;
}

.ordersWrapper {
    padding: 20px 50px 50px 50px;
}

.adminLinksPanel {
    padding-bottom: 20px;
}

#buttons {
    display: none;
    padding: 10px;

}
